@font-face{
    font-family: 'Righteous';
    src: url('../font/Righteous-Regular.ttf')
}

@font-face{
    font-family: 'Roboto';
    src: url('../font/roboto/Roboto-Regular.ttf')
}

*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    font-family: 'Roboto',sans-serif
}